button {
  outline-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #333;
  border: 2px solid #333;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.35s;
  position: relative;
}
button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 100%;
  background: #151515;
  transition: all 0.35s;
}
button:hover {
  color: #fff;
}
button:hover:after {
  width: 100%;
  color: #fff;
}
button:focus {
  background-color: #151515;
  color: #fff;
}
button strong {
  position: relative;
  z-index: 2;
}
button.btn-start:after {
  background: #2a9d8f;
}
button.btn-finish:after {
  background: #f95738;
}

button.btn-wall:after {
  background: #264653;
}
button.btn-reset {
  background-color: #151515;
  color: #fff;
}
