.cell {
  width: 2%;
  background-color: white;
  border: 1px #00c2d1 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish {
  background-color: #f95738;
}
.start {
  background-color: #2a9d8f;
}
.visited {
  animation-duration: 0.1s;
  animation-name: appearVisited;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
/* .path {
  background-color: #fcff6c;
} */
.wall {
  background-color: #264653;
}
.path {
  animation-duration: 2s;
  animation-name: appearPath;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes appearPath {
  from {
    background-color: #cae5ff;
  }
  to {
    background-color: #fcff6c;
  }
}

@keyframes appearVisited {
  from {
    background-color: white;
  }
  to {
    background-color: #cae5ff;
  }
}
