.cell {
  width: calc(100% - 30px);
  /* border: 1px #00c2d1 solid; */
  display: inherit;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f0f8ff;
  border: 1px solid #264653;
  z-index: 3;
}

.appear {
  animation-duration: 1s;
  animation-name: scale;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 7;
}

.path {
  animation-duration: 0.2s;
  animation-name: appearPath;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.visited {
  animation-duration: 0.3s;
  animation-name: appearVisited;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 10;
}
.wall {
  background-color: #264653;
  animation-duration: 0.1s;
  animation-name: scale;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 7;
  border: 1px solid #264653;
}
.start {
  background-color: #2a9d8f;
  /* border: 1px solid #2a9d8f; */
}
.finish {
  background-color: #f95738;
  /* border: 1px solid #f95738; */
}

@keyframes appearPath {
  0% {
    background-color: #d8b6c8;
  }
  100% {
    background-color: #f3a712;
  }
}

@keyframes appearVisited {
  from {
    background-color: #9a275a;
    transform: scale(1.2);
  }
  to {
    background-color: #d8b6c8;
  }
}

@keyframes scale {
  from {
    transform: scale(1.5);
  }
}
