.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 1em;
  margin-bottom: 1em;
}

.legendCell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;

  border: 2px solid black;
  margin-right: 2px;
  margin-bottom: 2px;
  color: black;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.pathLegend {
  background-color: #f3a712;
}
.visitedLegend {
  background-color: #d8b6c8;
}
.wallLegend {
  background-color: #264653;
}
.startLegend {
  background-color: #2a9d8f;
}
.finishLegend {
  background-color: #f95738;
}
.currentlyLegend {
  background-color: #9a275a;
}
