ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
h6 {
  padding: 0.4em;
  font-weight: 600;
}

.legend {
  width: 20%;
  height: 100%;
}
.legendCell {
  width: 20px;
  height: 20px;
}

/* @media only screen and (max-width: 768px) {
  .legend {
    display: none;
  }
} */
