.menu {
  height: 10%;
  width: 100%;
  display: flex;
}
.clickable {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.algorithmsButtons {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.interactions {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.algorithmsButtons button {
  width: 45%;
  height: 50%;
}

.interactions button,
select {
  margin-left: 1em;
  height: 50%;
  width: 15%;
}
.interactions select {
  padding: 0.4em;
  display: flex;
  border: 2px solid #333;
}
