$visitedColor: #cae5ff;
$wallColor: #264653;
$pathColor: #fcff6c;
$startColor: #2a9d8f;
$endColor: #f95738;
$fontColor: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
a {
  color: $fontColor;
  text-decoration: none;
  margin-left: 0.5em;
}

// containers
main {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
  padding: 1.5em;
}
.menu {
  height: 10%;
  width: 100%;
  display: inherit;
}
.grid {
  display: inherit;
  flex-flow: row wrap;
  height: 80%;
  .row {
    display: inherit;
    width: 100%;
    height: 5%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .socials {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    margin-bottom: 0.2em;
    margin-top: 1em;
  }
}

.menu {
  .legend {
    width: 20%;
    display: inherit;
    align-items: flex-start;
  }
  .clickable {
    width: 80%;
    display: inherit;
    justify-content: space-between;
  }
}

.clickable {
  .algorithmsButtons {
    display: inherit;
    width: 40%;
    justify-content: space-evenly;
    button {
      width: 45%;
      height: 50%;
    }
  }
  .interactions {
    display: inherit;
    justify-content: flex-end;
    width: 60%;
  }
}

// legend
.legend {
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  .legendCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;

    border: 2px solid black;
    margin-right: 2px;
    span {
      //background-color: white;
      color: black;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
    &.pathLegend {
      background-color: $pathColor;
    }
    &.visitedLegend {
      background-color: $visitedColor;
    }
    &.wallLegend {
      background-color: $wallColor;
    }
    &.startLegend {
      background-color: $startColor;
    }
    &.finishLegend {
      background-color: $endColor;
    }
  }
}

.interactions {
  button,
  select {
    margin-left: 1em;
    height: 50%;
    width: 15%;
  }
  select {
    padding: 0.4em;
    display: flex;
    border: 2px solid $fontColor;
  }
}

// all cells styles
.cell {
  width: calc(100% - 30px);
  border: 1px #00c2d1 dashed;
  display: inherit;
  justify-content: center;
  align-items: center;
  color: white;
  &.start {
    background-color: $startColor;
  }
  &.finish {
    background-color: $endColor;
  }
  &.wall {
    background-color: $wallColor;
  }
  &.visited {
    animation-duration: 0.3s;
    animation-name: appearVisited;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  &.path {
    animation-duration: 2s;
    animation-name: appearPath;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

//all button styles
button {
  outline-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #333;
  border: 2px solid #333;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.35s;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 100%;
    background: #151515;
    transition: all 0.35s;
  }
  &:hover {
    color: #fff;
  }
  &:hover:after {
    width: 100%;
    color: #fff;
  }
  &:focus {
    background-color: #151515;
    color: #fff;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &.btn-start:after {
    background: #2a9d8f;
  }
  &.btn-finish:after {
    background: #f95738;
  }

  &.btn-wall:after {
    background: #264653;
  }
  &.btn-reset {
    background-color: #151515;
    color: #fff;
  }
}

@keyframes appearPath {
  0% {
    background-color: #cae5ff;
  }
  100% {
    background-color: #fcff6c;
  }
}

@keyframes appearVisited {
  from {
    background-color: #17bebb;
    transform: scale(1.2);
  }
  to {
    background-color: #cae5ff;
  }
}

/* mobile layout */
@media (max-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    .legend {
      height: 40%;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin-right: 0;
    }
    .legendPosition:first-child {
      margin-left: 0;
    }
    .clickable {
      width: 100%;
      height: 60%;
    }
  }
  .clickable .algorithmsButtons {
    width: 30%;
    display: flex;
    flex-direction: column;
    button {
      width: 80%;
      margin-top: 1px;
    }
  }
  .clickable .interactions {
    display: flex;
    // justify-content: flex-end;
    width: 70%;
    flex-flow: row wrap;
  }
  .interactions button {
    width: 25%;
    margin-top: 1px;
  }
  .interactions select {
    margin-left: 0;
    width: 30%;
    outline-width: 0;
  }
  .grid {
    height: 70%;
    .row {
      display: inherit;
      width: 100%;
      height: 5%;
    }
  }
  .legend {
    height: 100%;
    margin-bottom: 0.2em;
    .legendPosition {
      height: 60%;
      margin-left: 1em;
    }
  }
  footer {
    .socials {
      height: 30%;
      width: 100%;
    }
  }
}

// typography
@media (min-width: 1201px) {
  .legend span {
    font-size: 0.75rem;
    font-weight: 700;
  }
  .clickable span {
    font-size: 0.8rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .legend span {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .clickable span {
    font-size: 0.9rem;
  }

  .interactions select {
    font-size: 0.9rem;
    font-weight: 500;
  }
  footer {
    font-size: 1.2rem;
  }
  .grid i {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .legend span {
    font-size: 1rem;
  }
  .clickable span {
    font-size: 1.1rem;
  }

  .interactions select {
    font-size: 1.1rem;
    font-weight: 500;
  }
  footer {
    font-size: 1.2rem;
  }
  .grid i {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) and (min-width: 415px) {
  .legend span {
    font-size: 0.9rem;
  }
  .clickable span {
    font-size: 0.9rem;
  }

  .interactions select {
    font-size: 0.9rem;
    font-weight: 500;
  }
  footer {
    font-size: 1.2rem;
  }
  .grid i {
    font-size: 1.1rem;
  }
}

@media (max-width: 414px) and (min-width: 361px) {
  .legend span {
    font-size: 0.75rem;
  }
  .clickable span {
    font-size: 0.8rem;
  }

  .interactions select {
    font-size: 0.7rem;
    font-weight: 500;
  }
  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .legend span {
    font-size: 0.6rem;
  }
  .clickable span {
    font-size: 0.65rem;
  }

  .interactions select {
    font-size: 0.55rem;
    font-weight: 500;
  }
}
