.cell{
    width: 2%;
    background-color: white;

}
.finish{
    background-color: red;
}
.start{
    background-color: green;
}
.visited{
    background-color: lightblue;
}
.path{
    background-color: yellow;
}
.wall{
    background-color: grey;
}